<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="main.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^main.js/debug[\/]?" />
        </rule>
        <rule name="DynamicContent">
          <match url="^(.*)$" />
          <action type="Rewrite" url="main.js" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="main.js" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
